<!DOCTYPE html>
<html lang="en">
<head>
	<title>Aggiungi Macchina</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	  <!-- Custom fonts for this template -->
	  <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
	  <link
		  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">
  
	  <!-- Custom styles for this template -->
	  <link href="css/sb-admin-2.css" rel="stylesheet">
  
	  <!-- Custom styles for this page -->
	  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- nav bar-->
        <%- include('components/sidebar.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- top bar-->
                <%- include('components/topbar.ejs') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

   					 <div class="limiter">
						<div class="container-login100">
				<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="/addMacchina">
								
				<span class="login100-form-title p-b-26">
						Aggiungi un macchinario
					
					</span>

					<div class="wrap-input100 validate-input" name="reparto">
						<span class="focus-input100" data-placeholder="Reparto"></span>
						<br><br>
						<select class="custom-select" type="number" name="reparto">
							<option selected value=""> Seleziona un Reparto </option>
							<option value="produzione"><b>Produzione</b></option>
							<option value="assemblaggio"><b>Assemblaggio</b></option>
							<option value="imballaggio"><b>Imballaggio</b></option>
						</select>
					</div>

					<div class="wrap-input100 validate-input" name="tipo">
						<span class="focus-input100" data-placeholder="Tipo Reparto"></span>
						<br><br>
						<select class="custom-select" type="number" name="tipo">
							<option selected value=""> Seleziona un tipo </option>
							<option value="bonnel"><b>Bonnel</b></option>
							<option value="pocket"><b>Pocket</b></option>
						</select>
					</div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="macchina">
						<span class="focus-input100" data-placeholder="Nome Macchina"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="number" name="molleOre">
						<span class="focus-input100" data-placeholder="Numero molle all'ora"></span>
					</div>

					<br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Inserisci
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>

</div>
<!-- End of Main Content -->
            <!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright &copy; Robertales&Skipper98 2023</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->
	
			</div>
			<!-- End of Content Wrapper -->
	
		</div>
		<!-- End of Page Wrapper -->
	
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>
	
		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="/login">Logout</a>
					</div>
				</div>
			</div>
		</div>
		<script>
			// Ottieni riferimenti agli elementi HTML
			const repartoSelect = document.querySelector('div[name="reparto"] select');
			const tipoSelect = document.querySelector('div[name="tipo"] select');
		  
			// Aggiungi un event listener per l'evento "change" al select del reparto
			repartoSelect.addEventListener('change', function() {
			  // Controlla se il valore selezionato è "imballaggio"
			  if (repartoSelect.value === 'imballaggio') {
				// Disabilita il select del tipo e reimposta il suo valore
				tipoSelect.disabled = true;
				tipoSelect.value = '';
			  } else {
				// Altrimenti, abilita il select del tipo
				tipoSelect.disabled = false;
			  }
			});
		  </script>
		  

	 <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>